<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/bootstrap-social.css"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .card-container.card {
            max-width: 350px;
            padding: 40px 40px 20px 40px;
        }

        .card {
            background-color: #F7F7F7;
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .profile-img-card {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
    </style>
</head>
<body ng-app="app" ng-controller="home as home">

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" ng-show="home.authenticated">
            <li><a href="#" ng-click="home.logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div ng-view></div>

<script src="/webjars/angularjs/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script>
    var app = angular.module("app", ["ngRoute"]);

    app.config(function ($routeProvider) {
        $routeProvider
                .when("/", {
                    templateUrl: "login.html"
                })
                .when("/main", {
                    templateUrl: "main.html"
                });
    });

    app.controller("home", function ($http, $location) {
        var self = this;

        $http.get("/user").success(function (data) {
            self.user = data.userAuthentication.details.name;
            self.authenticated = true;
            $location.path("/main");
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });

        self.logout = function () {
            $http.post('/logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed");
                self.authenticated = false;
            });
        };
    });
</script>
</body>
</html>